<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="~{fragments/_fragments :: headcontent}"></th:block>


    <title>Arm Lymphoedema Information</title>

    <!--    add any extra javascript file references here-->

</head>
<body>
<script th:replace="~{fragments/_fragments :: pagescript}"></script>
<header th:replace="~{fragments/_fragments :: header}"></header>
<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">

        <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
            <div class="nhsuk-width-container">
                <ol class="nhsuk-breadcrumb__list">
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" th:href="@{/information}">Information</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Arm lymphoedema</a>
                    </li>

                </ol>
                <p class="nhsuk-breadcrumb__back">
                    <a class="nhsuk-breadcrumb__backlink" th:href="@{/information}">
                        <span class="nhsuk-u-visually-hidden">Go back &nbsp;</span>
                        Information
                    </a>
                </p>
            </div>
        </nav>

        <nav class="nhsuk-nav-a">
            <ul>
                <li><a href="#info">General Information for Arm Lymphoedema</a></li>
                <li><a href="#causes">Causes</a></li>
                <li><a href="#symptoms">Symptoms</a></li>
                <li><a href="#risk-factors">Risk Factors</a></li>
                <li><a href="#diagnosis">Diagnosis</a></li>
                <li><a href="#guides">Guides</a></li>
                <li><a href="#treatment">Treatment</a></li>
            </ul>
        </nav>

        <h1 id="info">Arm lymphoedema</h1>
            <p>
                <b>
                Arm is one of the most usual parts which will have lymphoedema. It's not possible to completely prevent lymphoedema, but the following advice may help reduce your chances of developing it.
                </b>
            </p>
        <h2>Information</h2>

        <h2 id="guides">Guides</h2>
        <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">Taking Measurements</span>
            </summary>
            <div class="nhsuk-details__text">
                <p>We ask that you measure at 7 different points on your hand and arm, please familiarise yourself with the pictorial guide as this will help determine your measuring points</p>
                <ul>
                    <li>measure A is the base of the fingers</li>
                    <li>measure B is at the base of the thumb web</li>
                    <li>measure C is the wrist </li>
                    <li>measure D is the mid forearm </li>
                    <li>measure E is the elbow slightly bent </li>
                    <li>measure F is the mid upper arm </li>
                    <li>measure G is at the top of the arm level with the armpit</li>
                </ul>
                <p>Try and measure at the same time of the day on the same day once a week</p>
                <p>Support your arm on a flat surface eg a table top with palm facing upwards (see picture) </p>
                <p>Please record baseline measures prior to starting the compression wrap treatment - </p>
                <p>ideally we would like you to measure in the same 7 places each week, this can be done using steps 1 and 2</p>
                <p>Step 1 - determine your 7 measuring points using the marker pen (the marks can be washed off after you’ve measured each time) these points are at the base of the fingers (measure A), base of the thumb web (measure B), wrist (measure C), mid forearm (measure D), elbow (slightly bent, measure E) mid upper arm (measure F) and top of arm (measure G)</p>
                <p>Step 2- using a tape measure record the length from the wrist (measure C)  to the mark you have chosen as measure D (mid forearm) and document that length at the top of the measurements and on the pictorial sheet, continue to record the lengths from the wrist to the elbow (measure E), then wrist to mid upper arm (measure F) and finally wrist to top of the arm (measure G) by doing this you will be able to ensure that you are measuring at a similar point each week</p>
                <p>Step 3 - measure the circumference at each of the 7 points and record them on the '1st day' row in the appropriate column</p>
                <p>Step 4 - apply compression hand and arm wraps as guided by the manufacturers booklet. Wraps are to be worn day and night, removing for showering, skin inspection, hand washing</p>
                <p>Step 5 - measure the 7 points each week</p>
                <p><a th:href="@{/contact-us}">Please contact clinic with any queries.</a></p>
                <p>Measuring points for arm</p>

            </div>
        </details>
        <h3>Taking Photos</h3>
        <h3>Performing exercises</h3>
        <h3>Donning and doffing</h3>
        <h3>Using compression garments</h3>

    </main>
</div>
<footer th:replace="~{fragments/_fragments :: footer}"></footer>
</body>
</html>